@import "tailwindcss";
.bg-center-fade {
  background: linear-gradient(
    to bottom,
    rgb(163, 46, 199) 0%,
    rgba(163, 46, 199, 0) 50%,
    rgb(163, 46, 199) 100%
  );
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
